# Connect to dvdrental
Use this SQL notebook to test your ability to connect to the "dvdrental" database in Postgres.
- Make sure your Kernel is set to "SQL"
- In the "Attach to" dropdown, select "Change Connection"
- On the Connection panel, choose your Postgres database and select the dvdrental database from the "Database name" dropdown menu.
- Name your connection as "dvdrental" to easily distinguish it.
- Click "Connect"
- Run the following code and confirm a result that says "200"

In [ ]:
SELECT COUNT(1)
FROM actor

count
200


![dvdrentalconnection](.\assets\dvdrental_connection.PNG)