# Week 01 - Lesson xx - Basic SELECT Statements

## Getting Started

In this lesson, I'll introduce you to basic SELECT statements in SQL using our new DVD rental database.

In [ ]:
SELECT *
FROM actor
ORDER BY first_name
    , last_name
LIMIT 10